.vscode/
*.DS_Store
test/
data/mobilenet*
tf-train-nh.yaml
demo.txt
volume/data
volume/training/bottlenecks
ios-photos/Pods
ios-photos/tflite_photos_example.xcworkspace
ios-camera/Pods
ios-camera/tflite_camera_example.xcworkspace

ios-camera/
ios-photos/
model/
saved_model/
volume/